<div class="container">

    <div class="title">
        <h1 class="h2">User Profile</h1>
    </div>
    <ng-container *ngIf="user">
        <div class="columns is-4 is-multiline">
            <div class="column is-one-fifth">
                <img class="img-thumbnail rounded-circle"
                     src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                     alt="{{user.displayName}}">
            </div>
            <div class="column is-one-third">
                <input id="display-name" class="input is-one-fifth" type="text" placeholder="Anonymous" [(ngModel)]="user.displayName">
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
            </div>
            <div class="column is-one-third">
                <button class="button is-primary" (click)="updateUser()">
                    Update
                </button>
            </div>
        </div>

    </ng-container>


</div>
