<!-- Sidebar navigation -->
<div class="container-fluid">
    <div class="row">
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
            <div class="inner-adjust">
              <router-outlet></router-outlet>
            </div>
        </main>

    </div>
</div>
