<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="''">
            <img src="assets/logo.svg" width="112" height="28" alt="Website logo">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" (click)="toggleMobileMenu()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': isMobileMenuExpanded}">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="['dashboard']">
                Profile
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Home
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" [routerLink]="['home', 'test1']">
                        test 1
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" [routerLink]="['home', 'test2']">
                        Test 2
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item" *ngIf="!isLoggedIn; else loggedInTemplate">
                <div class="buttons">
                    <a class="button is-primary" [routerLink]="'register-user'">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" [routerLink]="'sign-in'">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<ng-template #loggedInTemplate>
    <div class="buttons">

        <a class="button is-primary" [routerLink]="'dashboard'">
            <i class="far fa-user-circle fa-2x" aria-hidden="true"></i>
        </a>

        <a class="button is-primary has-background-info" [routerLink]="'logout'">
            <strong>Logout</strong>
        </a>
    </div>
</ng-template>
